<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Developers </title>
    <link rel="stylesheet" href="../../Assets/css/Developers_CSS.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx icon'></i>
      <a class="app-header__logo" href="http://localhost/mgdakava/"> <img src="../../Assets/images/LOGO_MG.png" alt="Logo de Mg Dakava" height="70%" width="70%"/></a>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <!--<li>
        <a href="Index_Carcedo.html">
          <i class='bx bx-server'></i>
          <span class="links_name">Server-Side</span>
        </a>
         <span class="tooltip">Server-Side</span>
      </li>
      <li>
       <a href="PHP_González.html">
          <i class='bx bxl-php'></i>
         <span class="links_name">PHP</span>
       </a>
       <span class="tooltip">PHP</span>
     </li>
     <li>
       <a href="Python_Carcedo.html">
         <i class='bx bxl-python'></i>
         <span class="links_name">Python</span>
       </a>
       <span class="tooltip">Python</span>
     </li>
     <li>
       <a href="Csharp_Gio.html">
         <i class='bx bxl-c-plus-plus' ></i>
         <span class="links_name">C#</span>
       </a>
       <span class="tooltip">C#</span>
     </li>
     <li>
       <a href="Java_Castro.html">
         <i class='bx bxl-java' ></i>
         <span class="links_name">Java</span>
       </a>
       <span class="tooltip">Java</span>
     </li>
     <li>
       <a href="NodeJS_Tut.html">
         <i class='bx bxl-nodejs' ></i>
         <span class="links_name">NodeJS</span>
       </a>
       <span class="tooltip">NodeJS</span>
     </li>
     <li>
       <a href="ASPNET_Medina.html">
         <i class='bx bxl-microsoft'></i>
         <span class="links_name">ASP.NET</span>
       </a>
       <span class="tooltip">ASP.NET</span>
     </li>
     <li>
       <a href="Ruby_González.html">
         <i class='bx bx-diamond' ></i>
         <span class="links_name">Ruby</span>
       </a>
       <span class="tooltip">Ruby</span>
     </li>-->
     <li class="profile">
      <a href="Developers.html">
         <div class="profile-details">
           <img src="../../Assets/images/TecNM_Progreso.png" alt="TecNM Progreso Profile Image">
           <div class="name_job">
             <div class="name">Software Developers</div>
             <div class="job">TecNM Campus Progreso</div>
           </div>
         </div>
         <i class='bx bx-code-alt' id="logo_down"></i>
      </a>
     </li>
  </div>
  <section class="home-section">
      <div class="text"><b>Developers</b></div>
      <div class="contenido">
        <div class="contenido-top">
          <div class="contenido-perfil">
            <img src="../../Assets/images/leandro_profile.jpg" alt="Foto de perfil de Leandro">
            <label>Leandro Mijaíl González Gómez</label>
          </div>
          <div class="contenido-perfil">
            <img src="../../Assets/images/josue_profile.jpg" alt="Foto de perfil de Josué">
            <label>Josué Antonio Castro Collí</label>            
          </div>
          <div class="contenido-perfil">
            <img src="../../Assets/images/gio_profile.jpg" alt="Foto de perfil de Gio">
            <label>Carlos Manuel Gio Rivas</label>
          </div>
        </div>
        <div class="contenido-bottom">
          <div class="contenido-perfil">
            <img src="../../Assets/images/elias_profile.jpg" alt="Foto de perfil de Elias">
            <label>Elias Tut Jiménez</label>
          </div>
          <div class="contenido-perfil">
            <img src="../../Assets/images/lizzie_profile.jpg" alt="Foto de perfil de Lizzie">
            <label>Lizzie Guadalupe Medina Cetina</label>
          </div>
          <div class="contenido-perfil">
            <img src="../../Assets/images/gabriel_profile.jpg" alt="Foto de perfil de Gabriel">
            <label>Gabriel Carcedo Rodríguez</label>
          </div>
        </div>
      </div>
      <footer>
        <label><br>Copyright © 2022 Instituto Tecnológico Superior Progreso</label>
        <label>Ingeniería en Sistemas Computacionales</label>
      </footer>
  </section>

  <script src="../../Assets/js/script.js"></script>

</body>
</html>
